.NavBarDiv {
    background-color: #691e21;
    color: #ffffff;
    margin: auto;
    height: auto;
    border: 3px solid green;
}

.logotext {
    font-size: 4rem;
    position: relative;
    margin: auto;
    width: 100%;
    padding: 0rem;
}