.App {
  background-color: #ddf1f7;
}

.MapDiv {
  background-color: #ddf1f7;
  height: auto;
  border: 3px solid green;
}
.ListDiv {
  background-color: #ddf1f7;
  height: auto;
  border: 3px solid green;
}

path {
  pointer-events: all;
}
path:hover {
  cursor: pointer;
  fill: #fefb71;
  
}